<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <table>
        <tr>
            <th>用户名</th>
            <th>密码</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>身份证号码</th>
            <th>电话号码</th>
            <th>电子邮箱</th>
        </tr>
        <tr>
            <td>text1</td>
            <td>text2</td>
            <td>text3 </td>
            <td>text4 </td>
            <td>text5</td>
            <td>text6 </td>
            <td>text7 </td>
            <td>text8 </td>
        </tr>
    </table>

</body>

</html>