<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>

        <tr>
            <td>
                <a th:href="@{/page_add}">
                    <button>添加学生信息</button>
                </a>
            </td>
            <td>
                <a th:href="@{/page_delete}">
                    <button>删除学生信息</button>
                </a>
            </td>
            <td>
                <a th:href="@{/page_update}">
                    <button>修改学生信息</button>
                </a>
            </td>
            <td>
                <a th:href="@{/page_select}">
                    <button>查询学生信息</button>
                </a>
            </td>
        </tr>
    </table>

</body>

</html>