<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <form th:action="@{/do_forget2}">
            <table>
                <tr>
                    <th>验证码</th>
                    <td> <input type="text" name="yzm" ></td>
                </tr>
                <tr>
                    <th>新密码</th>
                <td> <input type="password" name="newpasswd" ></td>
                </tr>
                <tr>
                    <th><input type="submit" value="提交"></th>
                </tr>
            </table>

        </form>
    </table>

</body>

</html>